@font-face {
    font-family: 'RRubik-Regular';
    src: url('Rubik/static/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Rubik-ExtraBold';
    src: url('Rubik/static/Rubik-ExtraBold.ttf');
}
body {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 250px;
    min-height: 100vh;
    margin: 0;
    padding:0;
}
.banner {
    position: relative;
    width: 100%;
    margin:0;
    Margin-bottom: 40px;
    
}
h1 {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    color: #FFFFFF;
    background-color: #01385F;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik-ExtraBold', sans-serif;
    margin: 0;
    width: 110%;
    text-transform: uppercase;
}


.contenido {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contenido .deportistas {
    width: 107%;
    height: 500px;
    display: block;
    object-fit: cover;
    object-position: top center;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;     
    width: 200px;  
    height: 100vh;
    background-color: #01385F;
    z-index: 20;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding-top: 40px;
}
.logo-sidebar {
    width: 150px;    
    height: auto;
    margin-bottom: 30px;
}
.menu {
    display: flex;
    flex-direction: column;
    width: 100%; 
    text-align: center;
}
.menu a {
    color: #FFFFFF;           
    text-decoration: none;    
    font-family: 'Rubik-ExtraBold', sans-serif;
    font-size: 1.3rem;        
    margin-bottom: 20px;      
    padding: 10px;            
    transition: color 0.3s;
}
    .menu a:hover {
    color: #8fc7ff;           
    background-color: rgba(255,255,255,0.1); 
}
.contenido p {
    font-family: 'Rubik-Regular', sans-serif;
    text-align: justify;       
    font-size: 1.2rem;        
    line-height: 1.6;         
    color: #333333;          
    max-width: 1200px;         
    margin-top: 170px;         
    padding-left: 20px;       
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
