html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url('Rubik/static/Rubik-Regular.ttf');
}
@font-face {
    font-family: 'Rubik-ExtraBold';
    src: url('Rubik/static/Rubik-ExtraBold.ttf');
}

body {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
    margin: 0;
    padding:0;
    zoom: 75%;
}
.banner {
    grid-column: 1 / -1;
    position: relative;
    width: 100%;
    width: 100%;
    Margin-bottom: 40px;
    
}
.banner h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    color: #FFFFFF;
    background-color: #01385F;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik-ExtraBold', sans-serif;
    margin: 0;
    width: 90%;
    text-transform: uppercase;
}
.deportistas {
    width: 100%;
    height: 650px;
    display: block;
    object-fit: cover;
    object-position: top center;
}

.parrafo-intro {
    grid-column: 1 / -1;
    width: 90%;
    max-width: 1400px;
    margin: 40px auto; 
    text-align: justify;
    font-family: 'Rubik-Regular', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #01385F;
     margin-top: 10px;  
}

.video-nervi{
    grid-column: 1 / -1;
    width: 100%;          
    max-width: 800px;     
    height: auto;         
    margin-top: 10px;     
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.barralateral {
    width: 200px; 
    height: 100vh;
    min-height: 300vh;
    background-color: #01385F;
    z-index: 20;
    align-self: stretch;
}
.barralateralfija{
    position: sticky;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding-top: 40px;
    align-self: start;
    top: 0;
    width: 100%;
}
.icono-barralateral {
    width: 150px;    
    height: auto;
    margin-bottom: 30px;
}
.menu-lateral {
    display: flex;
    flex-direction: column;
    width: 100%; 
    text-align: center;
    
}
.menu-lateral a {
    color: #FFFFFF;           
    text-decoration: none;    
    font-family: 'Rubik-ExtraBold', sans-serif;
    font-size: 1.3rem;        
    margin-bottom: 20px;      
    padding: 10px;            
    transition: color 0.3s;
}
.menu-lateral a:hover {
    color: #8fc7ff;           
    background-color: rgba(255,255,255,0.1); 
}
.iniciorelato {
grid-column: 2;
padding: 40px;  
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.preguntaintro {
font-family: 'Rubik-ExtraBold', sans-serif;
font-size: 2.5rem;   
color: #01385F;       
margin: 0;
margin-bottom: 20px;
text-transform: uppercase;
text-align: center;
}
.mujer_jabalina {
width: 200px;         
max-width: 100%;  
height: auto;     
display: block;

}
.titulo-lanz {
background-color: #01385F;
color: #FFFFFF;
padding: 15px 40px;
border-radius: 5px;
font-family: 'Rubik-ExtraBold', sans-serif;
font-size: 2rem;
text-transform: uppercase;
text-align: center;
margin: 0;
margin-top: 1px;
margin-bottom: 20px;
width: fit-content;
}

.contenedor-graficosbenja {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: stretch;    
    gap: 30px;               
    width: 95%;
    max-width: 1200px;
    margin: 0 auto 50px auto;
}
.vislanfem{
     width: 40%; ;      
    min-height: 400px; 
    border: 3px solid #01385F;
    padding: 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 10px #01385F;
    margin-left: 0;
    margin-right: 610px;
}
.vislanmas{
      width: 40%; ;      
    min-height: 400px; 
    border: 3px solid #01385F;
    padding: 20px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 10px #01385F;
    margin-left: 0;
    margin-right: -610px;
    margin-top: -450px;
}

.linea-divisoria {
    width: 30px;
    background-color: #01385F;
    border-radius: 4px;
    min-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -450px;

}
.parrafolanzamiento{
   grid-column: 2;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto; 
    text-align: justify;
    font-family: 'Rubik-Regular', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #01385F;
     margin-top: -650px;  
   
}